@import "tailwindcss";

@custom-variant dark (&:where(.my-app-dark, .my-app-dark *)); /** dark mode configuration*/

body{
    @apply bg-neutral-50 dark:bg-neutral-900 text-neutral-900 dark:text-neutral-50 min-h-screen text-sm
}

